{% extends 'pantallas/base.html' %}
{% load static %}
{% block cuerpo %}
<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto">
        <div>
            <form action="" method="post">{% csrf_token %}
                <table style="color: black; " >
                    {{ form.as_table }}
                </table>
                <br>
                <input style="color: blue;" type="submit" value="Crear Persona" />
            </form>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}