{% extends 'pantallas/base.html' %}
{% load static %}
{% block cuerpo %}
<h1> Busqueda de Persona por Nombre</h1>

    {% if busqueda_formulario %}

        <form action="" method="GET">
            {{busqueda_formulario}}
            <button style="color: blue" type="submit"> Buscar </button>

        </form>
    {% else %}
        <ul>
        {% if persona %}
            {% for persona in personas %}
                <li>{{persona.nombre}}</li>
            {% endfor %}

        {% else %}
            <h1> No hay personas con ese nombre </h1>

        {% endif %}
        </ul>
    {% endif %}
{% endblock %}